.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #131921;
    color: white;
    height: 30px;
  
  }
  
.header-button{
  margin-left: auto;
  margin-bottom: 1%;
}